<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css"> 

</head>
<style>

    body {
        background-image:url("https://orig00.deviantart.net/b2cf/f/2011/196/e/c/little__fox__animation__by_hyperchaotix-d3sv1s9.gif"); 
        background-repeat: no-repeat;
        background-position-x: 990px;
        background-position-y: 391px;
        height: 630px;
        background-size: 25%;
    }
</style>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">
                Welcome Fox!
            </h1>
            <p>Would you like to do : </p>
            <br>
            <div class="control">
                <a class="button is-large is-success" href="/students">See Students</a>
                <a class="button is-large is-primary" href="/batchs">See Batchs</a>
                  <hr>
            </div>
        </div>
    </section>
</body>
</html>