<section class="section">
    <div class="container">
        <h1 class="title">
            Welcome Fox!
        </h1>
        <p>Would you like to do :</p>
        <br>
        <div class="control">
            <a class="button is-large is-success" href="/students">See Students</a>
            <a class="button is-large is-primary" href="/batchs">See Batchs</a>
                <hr>
        </div>
    </div>
</section>